#page {
	background-color: transparent;
}

#wantTo a img{
	width: 300px;
	height: 300px
}

#logo a img{
	max-height: 100px;
}

li a {
	margin-top: 20px;
}

#header-topnav{
    margin-bottom: 0px;
	padding: 10px;
	width: 100%;
	min-width: 100%;
}

.carousel-inner>.item>img{
	max-width: 100%;
	width: 100%;
	height: 556px;
}

#myCarousel{
	max-width: 100%;
	width: 100%;
}

#body{
	
    width: 1310px;
    padding-left: 0px;
    margin-right: -30;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;


}

.carousel-control.right, .carousel-control.left{
	width: 0px;
}

#fitCarousel{
    width: 1339px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0;
    padding-right: 0px;
}

.carousel-inner{
    padding-left: 0px;
    padding-right: -20 px;
    margin-right: ‒10 px;
    width: 1364px;
}

.carousel-control .icon-prev {
    margin-left: 30px;
}

.carousel-control{
	color: #ff0000;
	font-size: 100px;
}

.glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{

	font-size: 80px;
}


.carousel-caption a , .item .carousel-caption h1{
	color: #ff0000;
}

#myModalLabel{
	font-family: 'AR HERMANN';
	font-size: 40px;
	color: #fff;
}

.modal-header {
    border-bottom-width: 0px;
}

.modal-body {
    padding-top: 0px;
	text-align: center;
}

#requestacallform {
	margin-top: 50px;
}

.input-group-addon {
	background-color: #7b99b7;
	border: none;
}

.modal-content {
	background-color: #2c3e50;
}

.modal .close {
	color: #fff;
}

.modal-body .btn {
	background-color: #7b99b7;
	color: #fff;
	font-weight: bold;
    width: 556px;
}

 #forgetPassword a, #signUp a{
	color: #fff;
	text-decoration: underline;
}

#signUp, #forgetPassword {
	margin-top: 30px;
}


.img-circle {
	width: 80px;
	height: 80px;
	margin: 20px 20px;
	background-color: #fff;
}

/* .container #companies{
    height: 440px;
} */

.container #companies div, #interviews, #theCarousel{
	margin-bottom: 55px;
}

.container div h1{
	text-align: center;
	color: #000; 
}

.container {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 1349px;
}

.companieslogo , .lead {
	margin-left: 40px;
	margin-right: 40px;
}


.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}
.parallax-window {
    min-height: 800px;
    background: transparent;
}


#contactForm {
	/* text-align:center; */
	margin-top: 55px;
}

 .form-input {
    margin: auto;
    width: 14%;
 }
 
 #rememberMe {
	color: #fff;
 }
 
 .checkbox {
	text-align: left;
 }

.message-box , #message {
	height: 100px;
}


